.navbar {
  // background: url('../../images//hero.svg');

  @include respond(TAB) {
    margin-bottom: 3rem;
  }
  &_Center {
    width: 100vw;

    @include respond(TAB) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    @include respond(PHONE) {
      justify-content: space-evenly;
    }
  }

  &_header {
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;

    @include respond(PHONE) {
      padding: 2rem;
    }

    &_img {
      width: 20rem;
    }
    &_btn {
      @include respond(TAB) {
        display: none;
      }
      &,
      &:link,
      &:visited {
        background: none;
        color: #1098ad;
        font-size: 3rem;
        border: none;
        font-weight: bold;
        transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 1.3s;
        background-color: black;
        padding: 1rem;
        border-radius: 1.1rem;
      }

      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }

  &_links {
    display: none;
    @include respond(TAB) {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 10rem;
      li {
        list-style: none;
      }
      &_btn {
        &,
        &:link,
        &:visited {
          background: none;
          border: none;
          font-size: 3rem;
          color: #1098ad;
          transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
          text-transform: capitalize;
        }

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          backface-visibility: hidden;
        }
      }
    }
  }
}

.sign_in {
  display: none;
  @include respond(TAB) {
    &,
    &:link,
    &:visited {
      display: block;
      background: none;
      color: #1098ad;
      font-size: 2rem;
      border: none;
      font-weight: bold;
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
      background-color: black;
      padding: 1rem;
      height: 5rem;
      border-radius: 1.1rem;
    }

    &:hover {
      // transform: scale(1.1);
      color: #fff;
      cursor: pointer;
    }
  }
}
